.order{
    width: 100%;
    display: flex;
}
.orderContainer{
    flex:6 ;
}
.display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.display1{
    -webkit-box-shadow:2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin:  20px;
    
}