.order{
    width: 100%;
    display: flex;
}
.orderContainer{
    flex:6 ;
}
.display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.display1{
    -webkit-box-shadow:2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin:  20px;
    
}
/* order.css */
.table .cellWrapper {
    display: flex;
    align-items: center;
  }
  
  .table .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .tableCell {
    background-color: white;
  }
  
  .status {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
   
  }

.status.Approved {
    color: green;
    /* background-color: white; */

  }
  
  .status.Pending {
    color: goldenrod;
    /* background-color: white; */
  }
  
  .status.Delivered {
    color: blue;
    /* background-color: white;  */
  }
  .datatableTitle{
    width: 100%;
    font-size: 24px;
    color: teal;
    border-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
  
  